.stage{
    background: #373a36;
    width:100%;
    
    display:flex;
    justify-content: space-between;
flex-wrap: nowrap;
    
}

.tile{
    
    text-align:center;
    width:200px;
    height:200px;
   
    
    
}

.stage-avatar{
    border:1px solid black;
    border-radius:50%;
}